.modal {
    display: table;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    font-family: Arial, sans-serif;
    background-color: #020202;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #8d8b8b;
    width: 50%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* CSS cho các input và label trong modal */
  .modal-content input {
    background-color: #e2e4e0;
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
  }
  
  .modal-content label {
    display: block;
    margin-bottom: 5px;
  }
  
  /* Style cho các trường trong popup */
  .form-group #name,
  .form-group #age,
  .form-group #class {
    width: calc(100% - 40px);
    margin-bottom: 10px;
  }
  
  .form-group #text,
  .form-group #number {
    width: calc(100% - 40px);
    margin-bottom: 10px;
  }
  
  .class-list-modal {
    width: 300px; /* Chiều rộng của popup */
    padding: 20px;
    background-color: #241f1f;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Đổ bóng cho popup */
  }
  
  /* Style cho danh sách lớp */
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  /* Style cho mỗi mục danh sách lớp */
  ul li {
    margin-bottom: 10px;
  }