#app {
  display: flex;
  grid-template-columns: 1fr 1fr;
  padding: 0 2rem;
}
 
 body {
  display: flex;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    margin-top: 20px;
}
h2 {
    text-align: center;
    margin-top: 20px;
}
thead tr {
  background-color: #181515;
  padding: 10px;
  text-align: center;
}
thead th {
    background-color: #000000;
    text-align: left;
    padding: 10px;
}

tbody td {
    border: 1px solid #5f5151;
    padding: 10px;
}

tbody tr:nth-child(even) {
    background-color: #08151b18;
}

tbody tr:hover {
    background-color: #4e1919;
}
button:hover {
    background-color: #950000;
}
table button:hover {
    background-color: #45a049; /* Màu nền của nút khi di chuột qua */
  }
.button-container {
    display: flexbox; /* Sử dụng flexbox */
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center; /* Căn giữa theo chiều dọc */
  height: 100%; /* Chiều cao của container */
}

.button-container button {
    /* CSS của nút */
    padding: 10px 20px; /* Kích thước của nút */
    background-color: #4CAF50; /* Màu nền của nút */
    color: rgb(29, 17, 17); /* Màu văn bản của nút */
    border: none; /* Loại bỏ viền của nút */
    cursor: pointer; /* Biến con trỏ thành dấu nhấn khi di chuột qua nút */
    border-radius: 5px; /* Bo góc của nút */
  }

button {
    padding: 10px 30px;
    font-size: 16px;
    background-color: crimson;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  th {
    background-color: #f2f2f2;
  }
  tbody tr:hover {
    background-color: #706969;
  }


